*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Raleway;
}
.outer{
    display: flex;
    align-items: center;
    height: 100vh;
    background: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}
.main-title {
    margin: 70px 0 150px;
    z-index: 9;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 60px;
    color: #fff;
}
.inner-section{
    display: grid;
    grid-template-columns: 50% auto;
    width: 100%;
    z-index: 2;
}
.textalign{
    margin-left: 100px !important;
}

.common {
    text-align: center;
}
.overlay {
    display: block;
    position: absolute;
    background: rgba(27,64,140,.85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.title {
    font-size: x-large;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0 0 50px;
    color: #fff;
    font-size: 50px;
    font-weight: 400;

}
#clearbtn{
    padding: 8px 15px;
    background-color: #ff5a13;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 9px;
}
.boxitem {
    display: inline-block;
    vertical-align: top;
}

#inputimg {
    vertical-align: top;
    border: solid 1px black;
}

#clearbtn {
    width: 100%;
    font-size: medium;
    display: block;
}

#predictdigit {
    width: 196px;
    height: 196px;
    line-height: 196px;
    font-size: 160px;
    border: solid 1px black;
    background-color: white;
    font-family: Century;
}
